<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>PROJECT_UUID</key>
    <string>77ee611c-722c-4155-9570-e7eb00a223b1</string>
    <key>PROJECT_CLIENT_KEY</key>
    <string>cUIuUoK9thzCOPg13N8a4y59uigyNJscB1RvrlIX</string>
    <key>PROJECT_APP_UUID</key>
    <string>918abf2c-14c4-4b10-a1b0-7a6f5bedb1e5</string>
</dict>
</plist>